header{
    color: white;
    text-align: center;
}

body {
    background-color: black;
    font: normal 12pt verdana;
}

div {
    text-align: center;
    padding: 8px;
}

section {
    background-color:beige;
    border-radius: 20px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: black;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    font-size: medium;
    font-family: Verdana;
    }